SENTRY_SECRET_KEY=g*5(h_83abv^+2yz_j+bd!-_9pb3xm6jap0klpd8lc2_^a(b!%
SENTRY_POSTGRES_HOST=asmodine_sentry_postgres
SENTRY_DB_NAME=dbsentry
SENTRY_DB_USER=usentry
SENTRY_DB_PASSWORD=changeme
SENTRY_REDIS_HOST=asmodine_sentry_redis