APP_ASMODINE_PHP_FRONT=../asmodine.front
APP_ASMODINE_PHP_BACKOFFICE=../asmodine.admin
APP_ASMODINE_PYTHON_EXTRAPOLATION=../asmodine.extrapolation
APP_ASMODINE_PYTHON_APIS=../asmodine.apis
APP_ASMODINE_PYTHON_IMPORT=../asmodine.import
APP_ASMODINE_LIBS=../asmodine.libs